services:
  postgres:
    image: postgres:latest
    container_name: postgres_go_api
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: postgres123
  zookeeper:
    hostname: zookeeper
    image: bitnami/zookeeper:latest
    expose:
      - "2181"
    ports:
      - "2181:2181"
    environment:
      ALLOW_ANONYMOUS_LOGIN: yes

  kafka:
    hostname: kafka
    image: bitnami/kafka:latest
    environment:
      - kafka/kafka-variables.env
    depends_on:
      - zookeeper
    expose:
      - "9092"
    ports:
      - "9092:9092"
